<!DOCTYPE html>
<html>
<head>
  <title>PP2Cardstorming</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- %= javascript_include_tag "application" % -->
  <%= requirejs_include_tag  "cardstorming" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
